.padre{
    background-color: rgb(200, 15, 15);
    display: grid;
    grid-gap:4px;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
}
.padre .menu{
    background-color: rgb(230, 104, 8);
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
.padre .contenido{
    background-color: rgb(230, 104, 8);
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    display: grid;
    align-items: center;
}
.padre .ads{
    background-color: rgb(230, 104, 8);
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.padre .pie{
    background-color: rgb(230, 104, 8);
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
}